.total-count-card {
  display: flex;
  width: 280px;
  height: 153px;
  background-color: #eaeef4;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.customer-style {
  color: var(--grey-grey-70, #7e92a2);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.seventy-eight {
  color: var(--primary-navy, #092c4c);
  font-size: 48px;
  font-style: normal;
}
.total-count-card-logo,.total-count-deals-logo {
  padding: 20px;
  margin: 20px;
  border-radius: 100px;
  background: linear-gradient(
    180deg,
    rgba(45, 200, 168, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

